@model WebApplication3.Models.Strategy

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Strategy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceStart" class="control-label"></label>
                <input asp-for="PriceStart" class="form-control" />
                <span asp-validation-for="PriceStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceStopLoss" class="control-label"></label>
                <input asp-for="PriceStopLoss" class="form-control" />
                <span asp-validation-for="PriceStopLoss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SymbolId" class="control-label"></label>
                <select asp-for="SymbolId" class ="form-control" asp-items="ViewBag.SymbolId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TradeTypeId" class="control-label"></label>
                <select asp-for="TradeTypeId" class ="form-control" asp-items="ViewBag.TradeTypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
